.footer p {
    color: #7f8c8d;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    background: #2d3e50;
}
.screen {
    background: #1E5B94;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}
.screen-title {
    font-size: 200%;
    border: 2px solid #fff;
    padding: 20px;
    display: inline-block;
}
.screen-btn {
    background: #fff;
}
.project {
    background: #fff;
    margin-bottom: 30px;
}
.project-h2 {
    text-align: center;
    font-size: 150%;
    margin: 20px 0;
    color: #34495e;
}
.project-h3 {
    color: #34495e;
}
.project-detail p {
    color: #7f8c8d;
}
.about {
    background: #fff;
    padding: 40px 0;
    color: #7f8c8d;
}
.about-h2 {
    font-size: 180%;
    text-align: center;
    color: #34495e;
}
.about-color {
    color: #34495e;
}

.login {
    width: 320px;
    color: #1E5B94;
    margin: 150px auto;
    padding: 20px 15px;
    background: #fff;
    border:1px solid #7f8c8d;
    border-bottom: 0px;
    background-image: url("timg.gif");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:top center;
}

.login input {
    opacity: 1;
}

.apply {
    margin: 100px auto 50px auto;
}

.apply h3 {
    font-size: 120%;
    color: #34495e;
    text-align: center;
}

.team {
    margin: 100px auto;
}

.user-info {
    margin: 50px auto;
}

